<a class="dropdown-toggle" data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li>
  <a href="#" data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a href="#" data-ng-click="setCurrency('MZC')" data-ng-class="{active: currency.symbol == 'MZC'}">MZC</a>
  </li>
  <!--
  <li>
  <a href="#" data-ng-click="setCurrency('mMZC')" data-ng-class="{active: currency.symbol == 'mMZC'}">mMZC</a>
  </li>
  -->
</ul>

